
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<h3>Burasi Test View</h3>

<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Murat</th>
        <th>Yazilim</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Ayse</th>
        <th>Yazilim</th>
    </tr>
    <tr>
        <th>3</th>
        <th>Onur</th>
        <th>Yazilim</th>
    </tr>
    <tr>
        <th>4</th>
        <th>Ecren</th>
        <th>Yazilim</th>
    </tr>
</table>